@{
    ViewData["Title"] = "Contact";
}




<body>
    <div id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 wow bounceInLeft" data-wow-delay="1s">
                    <h1>Chisinau, WA 98052-6399</h1>
                    <button class="btn btn-lg btn-primary">History</button>
                    <button class="btn btn-lg btn-success">View Detail</button>
                </div>
                <div class="col-lg-6 col-md-6 wow bounceInRight" data-wow-delay="1s">
                    <img style="width: 500px;" src="~/images/Sydney.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

</body>



